<h1><%= @question.title %></h1>
<p><%= @question.body %></p>
<p><%= @question.created_at %></p>
<h4>Created by: <%= @question.user.full_name  || 'DELETED'%></h4>
<p>
  Tags: <%= @question.tags.map(&:name).join(", ") %>
  <%#=
    Equivalent to:
    @question.tags.map { |t| t.name }.join(", ")
    %>
</p>

<% if can?(:crud, @question) %>
<div>
  <%= link_to "Edit", edit_question_path(@question)%>
  <%= link_to "Delete", question_path(@question), method: :delete, data: {confirm: "Are you sure?"} %>
</div>
<% end %>

<div>
  <% if @like.present? && can?(:destroy, @like) %>
    <%= link_to "Unlike", like_path(@like), method: :delete %>
  <% elsif can?(:like, @question)%>
    <%= link_to "Like", question_likes_path(@question), method: :post %>
  <% end %>
  <small>
    <%= pluralize(@question.likes.count, "like") %>
  </small>
</div>

<%= form_with(model: [@question, @answer], local: true) do |f| %>
<% if @answer.errors.any? %>
  <ul>
    <% @answer.errors.full_messages.each do |msg|%>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div class="form-group">
  <%= f.text_area(
  :body,
  cols: 50,
  rows: 5,
  placeholder: "What are your thoughts?",
  class: "form-control"
  ) %>
</div>
<%= f.submit "Answer" %>
<% end %>

<hr />

<ul class="answer-list">
  <% @answers.each do |answer| %>
    <li>
      <p>
        <%= answer.body %> <br />
        <% if can? :crud, answer %>
          <small>
            <%= link_to(
              "Delete",
              question_answer_path(@question, answer),
              method: :delete,
              data: {
                confirm: "Are you sure?"
              }
            ) %>
          </small>
        <% end %>
        |
        <small>
          Answered <%= time_ago_in_words(answer.created_at) %> ago
        </small>
      </p>
    </li>
  <% end %>
</ul>
